.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.currency-1{
  margin-left: 2vw;
}


.button-1, .button-2{
  background-color: rgb(2, 192, 2);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  /* text-align: center; */
  
}


.button-2{
  background-color: rgb(227, 3, 3);
  
  
}

.button-1 p {
  color: white;
  font-weight: 800;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 15px; */
  /* position: absolute; */
}